@import url("https://fonts.googleapis.com/css2?family=Lato&family=Rubik&display=swap");

// colors
$bg-main: #131823;
$txt-main: #f7f7f7;
$txt-seconday: #2788e5;
$accent-pos: #37766f;
$accent-neg: #ea5250;
$accent-neut: #2a2f39;

// typefaces
$text-heading: "Rubik", sans-serif;
$text-copy: "Lato", sans-serif;

// spacing
$margin: 0.5rem;
$modifier: calc(40rem - 100%);

@mixin user-select-none {
  user-select: none;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
}

// screen-reader-only text
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* vintage IE */
  clip: rect(1px, 1px, 1px, 1px);
  border: 0;
}

html {
  font-size: 16px;
}

body {
  padding: 2rem;
  margin: 0 auto;
  max-width: 60rem;
  background: $bg-main;
}

//  albatross responsive layout

.container {
  display: flex;
  flex-wrap: wrap;
  margin: $margin * -1;
}

.container > * {
  flex-grow: 0;
  flex-basis: $modifier * 999;
  margin: $margin;
}

h1,
h2,
h3 {
  color: $txt-seconday;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

p,
label {
  @include user-select-none();
  color: $txt-main;
  font-family: $text-copy;
  font-size: 1.25rem;
  white-space: none;
}
