@import url("https://fonts.googleapis.com/css2?family=Lato&family=Rubik&display=swap");
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  /* vintage IE */
  clip: rect(1px, 1px, 1px, 1px);
  border: 0;
}

html {
  font-size: 16px;
}

body {
  padding: 2rem;
  margin: 0 auto;
  max-width: 60rem;
  background: #131823;
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin: -0.5rem;
}

.container > * {
  flex-grow: 0;
  flex-basis: calc($modifier * 999);
  margin: 0.5rem;
}

h1,
h2,
h3,
h4 {
  color: #2788e5;
  font-family: "Rubik", sans-serif;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

p,
label {
  user-select: none;
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  color: #f7f7f7;
  font-family: "Lato", sans-serif;
  font-size: 1.25rem;
  white-space: none;
}

.search {
  padding-right: 4rem;
}

.search label,
.search input {
  display: block;
  padding: 0.25rem;
  min-width: 8rem;
  font-size: 1.25rem;
}

.search input {
  border-radius: 2px;
  border-style: solid;
  background: #f7f7f7;
  border-color: #f7f7f7;
  font-size: 1.25rem;
}

input::placeholder {
  color: #131823;
  padding: 0.25rem;
}

input:focus::placeholder {
  opacity: 0;
}

.submit-button {
  display: inline;
  padding: 0.5rem 1.5rem;
  margin: 0.5rem 0;
  background-color: #f7f7f7;
  border-color: #f7f7f7;
  border-style: none;
  border-radius: 0.25rem;
  font-weight: 600;
  font-size: 1rem;
}

.submit-button:hover {
  background-color: #2788e5;
  color: var(--bg-main);
  cursor: pointer;
}

.group {
  display: flex;
  align-items: center;
  margin-bottom: 2em;
}

input[type=checkbox] {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

label {
  position: relative;
  margin-right: 1em;
  padding-left: 2em;
  padding-right: 1em;
  line-height: 2;
  cursor: pointer;
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
}

.options label:before {
  box-sizing: border-box;
  content: " ";
  position: absolute;
  top: 0.3em;
  left: 0;
  display: block;
  width: 1.4em;
  height: 1.4em;
  border: 2px solid #f7f7f7;
  border-radius: 0.25em;
  z-index: -1;
}

/* Checked */
input[type=checkbox]:checked + label {
  padding-left: 1em;
  color: #f7f7f7;
}

input[type=checkbox]:checked + label:before {
  top: 0;
  width: 100%;
  height: 2em;
  background: #37766f;
}

/* Transition */
label,
label::before {
  transition: 0.25s all ease;
}

footer {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

code {
  color: #f7f7f7;
  letter-spacing: 0.0625rem;
  word-wrap: break-word;
}

/* focused checkboxes */
input:focus-within + label {
  padding-left: 1rem;
}

input:focus-within + label:before {
  top: 0;
  width: 100%;
  height: 2em;
  outline: #f7f7f7 dashed 0.125rem;
  outline-offset: 0.125rem;
}

.mobile-only {
  display: none;
}

@media only screen and (max-width: 800px) {
  .wrapper, header #desc {
    display: none;
  }

  .mobile-only {
    display: block;
  }
}

/*# sourceMappingURL=sass-index.css.map */
